@import "tailwindcss";

:root {
   font-family: "Sora", serif;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

